
h1,h2,h3,h4 {
  text-align: center;
}

a:link, a:visited, a:active {
  color: black;
}

a:hover {
  color: blue;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

table.data {
  border-collapse: collapse;
  font-family: 'Courier New', Courier, mono;
}

table.data, table.data th, table.data td {
  border: 2px solid black;
  padding: 2px 20px;
  text-align: center;
}

table.data td.problem {
  font-size: 11px;
  min-width: 80px;
  padding: 2px;
}

table#attempts-table td {
  height: 45px;
}

#site {
  width: 100%;
  margin: 0 auto;
}

#header, #content {
  border: 1px solid black;
  margin: 5px;
}

#header {
  padding: 5px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

#menu li {
  display: inline;
}

#content {
  padding: 5px;
  padding-bottom: 25px;
}

#question {
  width: 500px;
}
